{% extends "base.html" %} {% block content %}
<h1>{{ assignment.title }}</h1>
<p>
  Course:
  <a href="{% url 'course-detail' assignment.course.id %}"
    >{{ assignment.course.name }}</a
  >
</p>
<p>Due: {{ assignment.due_date }}</p>
<p>Status: {{ assignment.get_status_display }}</p>
<p>Priority: {{ assignment.get_priority_display }}</p>
<p>Notes: {{ assignment.notes|default:"-" }}</p>

<p>
  <a href="{% url 'assignment-update' assignment.id %}">Edit</a>
  <a href="{% url 'assignment-delete' assignment.id %}">Delete</a>
</p>
{% endblock %}
